:root {
  --background-color1: #2f2f30;
  --background-color2: #feffdf;
  --background-color3: #41403d;
  --background-color4: #fcff9d;

  --font-color-1: #ededed;
  --font-color-2: #404040;
  --font-color-3: #cccccc;
  --font-color-4: #ffffff;
  --font-color-5: #0e0e0e;

  --color-detalhe: #f2994a;

  --icon-color-1: #ededed;
  --icon-color-2: linear-gradient(
    180deg,
    rgba(242, 153, 74, 1) 50%,
    rgba(242, 201, 76, 1) 100%
  );
}

.color-1 {
  color: var(--font-color-1);
}

.color-2 {
  color: var(--font-color-2);
}

.color-3 {
  color: var(--font-color-3);
}

.color-4 {
  color: var(--font-color-4);
}

.color-5 {
  color: var(--font-color-5);
}

.color-detalhe {
  color: var(--color-detalhe);
}

.background-color1 {
  background-color: var(--background-color1);
}

.background-color2 {
  background-color: var(--background-color2);
}

.background-color3 {
  background-color: var(--background-color3);
}

.background-color4 {
  background-color: var(--background-color4);
}
